# ignore the .python-version file for pyenv
.python-version

# ignore swap files
*.swp

# ignore python egg build files
*.egg-info/

# ignore python build files created when installing
*__pycache__/
.py[cod]
